{% extends 'index.html' %}
{% block content %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Inicia Sesión</span>
                        <span class="section-heading-lower">Dashboard</span>
                    </h2>
                    <form method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                            <ul>
                                {% for field in form %}
                                {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                                <p>{{ form.non_field_errors }}</p>
                            </ul>
                        </div>
                        {% endif %}
                        <div class="mb-3">
                            <label for="id_username" class="form-label">Nombre de Usuario</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <label for="id_password" class="form-label">Contraseña</label>
                            {{ form.password }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                    </form>
                    <p class="address mb-5">
                        <em>
                            <strong>Los siguientes usuarios pueden acceder:</strong>
                            <br />
                            Usuario: yis Contraseña: 8119
                            <br />
                            Usuario: operario Contraseña: pepito1234
                        </em>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
