{% extends 'layout.html' %}
{% block head %}
  {% block head_form %}

  {% endblock %}
{% endblock %}
{% block content %}
  <form method="post" action="." enctype="multipart/form-data">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">
          {% if action == 'add' %}
            <i class="fas fa-plus"></i>
          {% else %}
            <i class="fas fa-edit"></i>
          {% endif %}

          {{ title }}
        </h3>
      </div>
      <div class="card-body">
        {% csrf_token %}

        <input type="hidden" name="action" value="{{ action }}" />

        <div id="error-block"></div>

        {% for field in form.visible_fields %}
          <div class="form-group">
            <label for="email">{{ field.label }}:</label>
            {{ field }}
          </div>
        {% endfor %}
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-flat"><i class="fas fa-save"></i> Guardar registro</button>

        <a href="{{ list_url }}" class="btn btn-danger btn-flat"><i class="fas fa-times"></i> Cancelar</a>
      </div>
    </div>
  </form>
  <script>
    $('form').on('submit', function (e) {
      e.preventDefault()
      //var parameters = $(this).serializeArray();
      var parameters = new FormData(this)
      submit_with_ajax(window.location.pathname, 'Alerta!', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
        location.href = '{{ list_url }}'
      })
    })
  </script>
  {% block javascript %}

  {% endblock %}
{% endblock %}
