{% extends 'list.html' %}
{% load static %}
{% block head_list %}
  <script src="{% static 'sale/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
  <tr>
    <th scope="col" style="width: 05%;"></th>
    <th scope="col" style="width: 05%;">Numero</th>
    <th scope="col" style="width: 10%;">Cliente</th>
    <th scope="col" style="width: 20%;">Fecha</th>
    <th scope="col" style="width: 25%;">Subtotal</th>
    <th scope="col" style="width: 15%;">Iva</th>
    <th scope="col" style="width: 10%;">Total</th>
    <th scope="col" style="width: 10%;">Opciones</th>
  </tr>
{% endblock %}

{% block javascript %}
  <div class="modal fade" id="myModalDet" tabindex="-1" aria-labelledby="ajaxModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ajaxModalLabel"><i class="fas fa-shopping-cart"></i> Detalle de venta<span></span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="." enctype="multipart/form-data">
          <div class="modal-body">
            <table class="table" id="tblDet">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Categoría</th>
                        <th>PVP</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
